.blog-container {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 100px;
}

.blog-card-wide {
    width: 512px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.blog-card-cover-image {

}