
main {
    background: #FAFAFA;
}

#home_name {
    text-align: center;
    font-size: 48px;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
}

html, body {
    height: 100%;
    margin: 0;
}

#home_content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    -webkit-align-items: center;

    flex-direction: column;
    -webkit-flex-direction: column;

    justify-content: center;
    -webkit-justify-content: center;
}

#home_link-containers {
    text-align: center;
    margin-top: 50px;
}

#home_centered-content {
    display: inline-block;
}

#home_link-containers > a {
    font-size: 20px;
    padding: 10px;
    color: inherit;
}