<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <link src="/assets/javascript/home.js">
</head>

<!-- Simple header with scrollable tabs. -->
<body>
<div id="home_content">

    <!-- You should probably code something custom -->
    <div id="home_centered-content">
        <h3 class="animated fadeInUp" id="home_name">Contact</h3>

        <div id="home_link-containers">
            <a href="https://twitter.com/benschwab13"><i class="fa fa-twitter fa-3x"></i></a>
            <a href="https://github.com/BenSchwab"> <i class="fa fa-github fa-3x"></i> </a>
            <a href="https://www.linkedin.com/in/schwabben"> <i class="fa fa-linkedin-square fa-3x"></i> </a>

        </div>
    </div>

</div>

</body>

</html>
