---
layout: default
---

<head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/post.css">
</head>
{% include post_header.html %}
<body class="mdl-layout__container post">
<main id="post_content">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <article
                class="post-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif%}{%if page.meta %} • {{ page.meta }}{% endif %}</p>
            <h1 class="post-title">{{ page.title }}</h1>
            {{ content }}
        </article>

        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>

    </div>
</main>
<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Title</div>
        <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
        </ul>
    </div>
</footer>

</body>
