---
layout: default
---

<head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/post.css">
</head>
{% include header.html %}
<body class="mdl-layout__container has-scrolling-header post">

<header class="post-header">

    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>

    <article
            class="post-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <h1 class="post-title">{{ page.title }}</h1>
        {{ content }}
    </article>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>

</div>

</body>
