<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <link src="/assets/javascript/home.js">
</head>

<!-- Simple header with scrollable tabs. -->
<body>
<div id="home_content">

    <!-- You should probably code something custom -->
    <div id="home_centered-content">
        <h3 class="animated fadeInUp" id="home_name">Random</h3>

        <div id="home_link-containers">

            <a href="/blog">Blog</a>

            <a href="/contact">Contact</a>

            <a href="/random">Random</a>

        </div>
    </div>

</div>

</body>

</html>
